@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Inter, system-ui, sans-serif;
    }
}

.App::before {
    position: fixed;
    content: "";
    transform: rotate(45deg);
    width: 2000px;
    height: 700px;
    top: 25rem;
    left: -10rem;
    background-image: radial-gradient(hsla(180, 100%, 25%, 0.15) 2%, transparent 70%);
}

.App::after {
    position: fixed;
    content: "";
    transform: rotate(45deg);
    width: 700px;
    height: 1800px;
    top: -45rem;
    right: -10rem;
    background-image: radial-gradient(hsla(150, 100%, 25%, 0.15) 2%, transparent 70%);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.dark::-webkit-scrollbar-track {
    background: hsl(180, 8%, 10%);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: hsl(180, 4%, 40%);
}